.top-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 16px;
}

.centered-search {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 80vh; 
  height: 5vh;
}

.button-container {
  display: flex;
  justify-content: center;
}
